/*flex items-center black-80 fw3 description*/
.post-description {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.post-link {
  display: flex;
  flex-direction: column;

  width: 300px;
  text-decoration: none;
}

.post-image {
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
}
