.city-description {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
  /*margin-top: 10%;*/
}

.city-link-item {
  display: flex;
  flex-direction: column;

  width: 300px;
  text-decoration: none;
  margin: 15px;
}

.city-image {
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
  border-radius: 25px;
}
