.link-container {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
  text-decoration: none;

  justify-content: center;
  margin: 15px;
  background-color: white;

  border-radius: 25px;

  align-items: center;
  width: 300px;
  height: 300px;
}

.link-container img {
  margin-bottom: 10px;
}
