.barchart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 27px;
  top: 10%;
}

.listPage-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  background-color: lightgrey;
}
