.spot-container{
  width: 300px;
  height: 300px;
  margin: 20px;

  img {
    max-width: 300px;
    max-height: 275px;
  }
}

.prices-menu{
  p {
    margin: 0px;
    margin-bottom: 10px;
  }

  column-count: 2;
  column-gap: 20px;
}

.rating {
  display: inline-block;
  list-style: none;


  li {
    display: inline-block;
    background-image: url(//maps.gstatic.com/tactile/omnibox/star-20130618-2x.png);
    background-size: 37px 13px;
    width: 13px;
    height: 13px;
  }

  li.full {

  }

  li.empty {
    background-position: -25px 0px;
  }

  li.half {
    background-position: -13px 0px;
  }
}
